/* 
    Document   : ADRBasic.inc
    Created on : 4-Oct-2010, 4:00:18 PM
    Author     : default
    Description:
        Purpose of the stylesheet follows.
*/
/*
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
*/

.adr-overview {

}

#adr-overview-description-cell {
    vertical-align: top;
    margin-left: 2px;
}

#adr-overview-files-cell {
    vertical-align: top;
}

.adr-overview-footer {
    font-size: 0.9em;
    text-align: center;
}

.adr-title-label, .adr-author-label, .adr-description-label {
    font-size: 1.3em;
    float: left;
    width: 30%;
    padding: 5px 5px 5px 5px;
    margin: 5px 5px 5px 5px;
}

.adr-title-value, .adr-author-value, .adr-description-value {
    font-size: 1.0em;
    margin: 5px 5px 5px 5px;
    padding: 5px 5px 5px 5px;
    float: left;
}

.adr-description-value {
    float:left;
}

.adr-file-img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.adr-file-label {
    text-align: center;
    font-size: 1.1em;
}

.adr-file-download input {
    margin-left: auto;
    margin-right: auto;
    display: block;
}

.adr-file-view {
    text-align: left;
    font-size: 1.1em;
}

.adr-edit-file-img-block {
    float: left;
}

.adr-edit-file-img {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
    display: block;
}

.adr-edit-file-label {
    text-align: center;
}

.adr-viewer {
    vertical-align: middle;
}

.x-view-over{
    /*background: #efefef url(../images/row-over.gif) repeat-x left top;*/
    background-color: #efefef;
    background-repeat: repeat-x;
    background-position: left top;
}

.x-view-selected{
    background-color: #eff5fb;
    background-repeat: no-repeat;
    background-position: right bottom;
    /*background: #eff5fb url(../images/selected.gif) no-repeat right bottom;*/
}

.x-plain-body {
    background: none;
}

.x-tab-panel-body {
    background: none;
}

.x-table-layout {
    margin: 0px 0px 0px 0px;
}

#content-fedora table {
    width: 100%;
    margin: 0px 0px 0px 0px;
}

.x-panel-fbar table{
    margin: 0px;
}

.adr-remove-margin {
    margin: 0px;
}
/*
.x-panel-mr, .x-panel-ml, .x-panel-mc {
    padding: 0px;
}*/

#adr-overview-tab .x-panel-ml,
#adr-overview-tab .x-panel-mr,
#adr-overview-tab .x-panel-mc
{
    padding:0px;
    
}

#adr-overview-tab .x-panel-ml
{
    padding-left: 1px;
}
#adr-overview-tab .x-panel-mr
{
    padding-right: 1px;
}

#playerFLV embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#playerFlexPaper embed {
    display: block;
    margin-left: auto;
    margin-right: auto;
}