/* 
    Document   : Clear.css
    Created on : Apr 6, 2011, 1:38:25 PM
    Author     : nbanks
    Description:
        Purpose of the stylesheet follows.
*/
#adr-basic-viewer ol, #adr-basic-viewer ul {
    list-style: none;
}
#adr-basic-viewer a:link {
    padding-bottom: 0px;
}
#adr-basic-viewer table, .adr-clear table, .x-window table{
    border-collapse: collapse;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
}
#adr-basic-viewer form tbody, #adr-basic-viewer form tbody th, .x-window th, .x-window td {
    border: 0;
}